.btn{
    background-color: rgb(0, 154, 193);
}


.inputSection{
    color: rgb(0, 154, 193);
    font-weight: bold;
}

.resultSection{
    background-color: rgb(0, 126, 151);
    color: aliceblue;
    
}

.convertBtn:hover{
    background-color: rgb(107, 5, 150);
    color: black;
}